---

## Init

- name: Ensure project directories exist
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
  loop:
    - "{{ docker_project_path }}"
    - "{{ docker_project_path }}/scripts"
  tags: ["init"]

## Configure

- name: Deploy media-server-update.sh
  ansible.builtin.copy:
    src: media-server-update.sh
    dest: "{{ docker_project_path }}/scripts/media-server-update.sh"
    mode: '0755'

- name: Template .env
  ansible.builtin.template:
    src: .env.j2
    dest: "{{ docker_project_path }}/.env"
    mode: '0600'

- name: Template docker-compose.yml
  ansible.builtin.template:
    src: docker-compose.yml.j2
    dest: "{{ docker_project_path }}/docker-compose.yml"
    mode: '0644'
    # validate: "{{ docker_compose_cmd }} -f %s config"
    backup: true

- name: Validate docker-compose.yml
  ansible.builtin.command: "{{ docker_compose_cmd }} -f {{ docker_project_path }}/docker-compose.yml config"
  changed_when: false

## Run

- name: Start app
  ansible.builtin.include_role: { name: djuuu.docker_project, tasks_from: compose-up }
  tags: ["start"]
